<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rental review</title>
</head>
<!--https://docs.djangoproject.com/en/4.1/ref/forms/api/  as_p as_ul as_table-->
<body>
  {% extends "base_car.html" %}
  {% block content %}
  <div class="container">
       <h3>Rental review</h3>
      <form action="" method="post" >
          {% csrf_token %}
          <div>
              <p>
                 {{form.first_name.label_tag}} {{form.first_name}}
              </p>
          </div>
          <div>
           {{form.last_name.label_tag}} {{form.last_name}}
          </div>
          <input class="btn btn-primary" type="submit" value="Submit">
      </form>
  </div>
  {% endblock content %}
</body>
</html>